@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

header .sargaSav {
    background-color: #ffed05;
}

main h2, .main_kepek strong{
    color: rgb(49, 195, 243);
}

.main_szoveg, main, .hirek{
    margin-top: 40px;
}

.main_elso_kep, .main_keret img{
    max-width: 100%;
    width: 100%;
}

.main_kartya{
    color:#fff !important;
    font-size: 10px !important;
    font-style: italic;
}





footer{
    padding-top: 30px;
    background-image:url(../images/footer-bg.jpg);
    width: 100%;
   
}
footer p{
    color: yellow;
    padding-left: 30px;
}
footer .legalso{
    background-color: #303030;
    padding-top: 20px;
    padding-bottom: 5px;
}
footer a, a{
    text-decoration: none;
}
footer a, footer .legalso p, footer li, a{
    color: #ffffff;
}
footer li, li{
    list-style-type: none;
}
footer img:first-of-type{
    padding-left: 30px;
}

footer .social-icons {
    text-align: right;
    margin-top: 10px;
}
footer .social-icons img {
    width: 80px;
    padding-left: 20px;

}

.kartyakContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.kartya {
    position: relative;
    width: 500px;
    height: 400px;
    overflow: hidden;
    cursor: pointer;
    font-size: 10;
}

.kartya img {
    width: 150%;
    height: 150%;
    object-fit: cover;
    display: block;
    font-size: 10;
}

.kartya .overlay {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 20px;
    font-size: 10;
    box-sizing: border-box;
}

.kartya:hover .overlay {
    opacity: 1;
    font-size: 10;
}

.temacim {
    margin-top: 5px;
    text-align: center;
    font-size: 14px;
    color: #333;
}

.main_szoveg_hosszu{
    margin-top: 20px;
    color:#666666;
}

.main_keres{
    text-transform: uppercase;
    margin: 30px 0px;
    font-size: 23px;
    padding: 10px 0px;
    color:#fff;
}

.main_keres strong{
    color:#ffed05
}

.main_kepek strong{
    font-size: 20px;
    text-transform: uppercase;
}

.main_keret button{
    width: 100%;
    text-transform: uppercase;
    border-radius: 0;
    background-color:yellow;
    border: none;
    padding: 10px;
    font-weight: 700;
    margin-top: 3px;
}


.main_kicsi{
    font-size: 17px;
    color:#5f5f5f;
}


.szoveg_keret{
    border: 1px solid #ccc;
    padding: 17px;
}

.nevjegy{
    border-bottom:1px solid #ccc ;
    margin-bottom: 20px;
}

.main_keres_hatter{ 
    background-image: url(../images/nyomdai-termekek-bg.jpg);
}

.main_keres_hatter,.kerdes,.main_facebook,.partner{
    width: 100%;
}

.main_keres_hatter,.kerdes,.main_facebook,.partner, .kartya {
    background-size: cover;
}


.main_kerdes{
    background-image: url(../images/kerdese-van.jpg);
    height: 270px;
    margin-top: 30px;
}

.main_kerdes h3{
    text-align: center;
    background-color: rgb(26, 25, 25);
    color:#fff;
    text-transform: uppercase;
    font-size: 22px;
    padding: 10px 0px;
    border-bottom: 1px solid #fff;
}

.main_kerdes span{
    color:rgb(207, 207, 0);
}

.main_kerdes p{
    color:#fff;
    padding-left:30px;
    padding-right: 18px;
    margin-top: 20px;
}

.main_kerdes input{
    padding: 10px 0px;
    border-radius: 0;
    width: 90%;
    margin-left: 27px;
    padding-left: 10px;
}

.main_kerdes button{
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 27px;
    border-radius: 0;
    background-color: yellow;
    border: none;
}

.main_facebook{
    background-image: url(../images/facebokkKep.png);
    height: 150px;
    margin-top: 30px;
}

.partner_egy{
    text-transform: uppercase;
    color:#fff;
    font-size: 23px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 25px;
    font-weight: 600;
    background-color: rgba(44, 44, 44);
    border-bottom: 1px solid #fff;
    margin-top: 30px;
}

.partner_egy span{
    color:yellow;
}

.main_kartya{
    color:#fff !important;
    font-style: italic;
    font-size: 16px !important;
}
.partner{
    background-image: url(../images/rolunk-mondtak.jpg);
    height: 580px;
}

.barbara{
    border: 5px solid #fff;
    margin-left: 30px;

}

.komment{
    margin-top: 50px;
    color:#fff
}

.komment span{
    color:yellow;
    font-weight: 600;
    margin-left: 20px;
    font-size: 20px;
}

.komment .kartya{
    color:#fff;
    font-size: 18px;
    font-style: italic;
    
}

.megjegyzes, .main_szoveg{
        font-size: 16px;
}
.megjegyzes{
    font-weight: 400;
    margin-left: 20px;
    margin-top: 10px;
}

.lajos{
    margin-top: 40px !important;
}

.hirek {
    border: 1px solid #ccc;
    color: #000 !important;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hirek a{
    text-decoration: none;

}

.main_kek,.hirek a{
    color: rgb(0, 149, 199);
}

.main_kek{
    text-transform: uppercase;
    font-weight: 600;
}

.friss{
    text-transform: uppercase;
    color:#000;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    
}

.main_szurke,.datum{
    color: #5f5f5f;
}

.main_szurke{
    font-size: 17px;
}

.datum{
    margin-top: 30px;
    margin-bottom: 0;
}



footer{
    margin-top: 70px;
}


.sargaSav .col-lg-6 {
    padding: 3px;
}

header .nav-item a {
    font-weight: 700;
    color: #fff;
}

header .nav-item a, .logos p, .box p:first-of-type {
    text-transform: uppercase;
}

.sargaSav .d-flex {
    margin-left: 37px;
}

.bi-envelope-paper-fill{
    margin-left: 50px;
}

header input {
    padding: 0;
    border-radius: 0 !important;
    width: 300px !important;
}

.navBar {
    justify-content: center;
}

.header-bg {
    background-image: url("../images/header-bg.png");
    height: 500px;
}

.nyil {
    justify-content: center;
}

.nyil img {
    width: 50px;
}

.logos {
    height: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 42px;
}

.logo {
    border-right: 1px solid #000;
    padding-right: 50px;
    margin-right: 50px;
}

header .termekek {
    background-image: url("../images/box-1.jpg");
}

header .projektek {
    background-image: url("../images/box-2.jpg");
}

header .ajanlat {
    background-image: url("../images/box-3.jpg");
}

.box {
    width: 400px;
    height: 250px;
    color: #fff;
}

.box, .header-bg {
    background-repeat: no-repeat;
    background-size: cover;
}

.box p:first-of-type {  
    font-size: 30px;
}

.box div:first-of-type {
    height: 100%;
}

.teglalapok {
    justify-content: center;
}

.box-szoveg {
    flex-direction: column;
    justify-content: center;
}

.box {
    margin: 0 20px;
}

header {
    margin-bottom: 150px;
}

.mobil-kor {
    width: 70px;
}

.box-kor {
    margin-top: -30px;
}

nav .active {
    color: #ffed05 !important;
}

.logo-szoveg {
    width: 18%;
}

.logo-szoveg strong {
    color:#00bfff;
}

.kartyak {
    flex-wrap: wrap;
}

.kartya img, .kartya {
    width: 400px;
    height: 250px;
}
.reklamSzoveg{
    margin-top: 30px;
    margin-left: 1px;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.reklam img{
    max-width: 100%;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.footer_hatter{
    padding-bottom: 30px !important;
}

.footer_kep{
    padding-top: 40px;
}

footer{
    border-top: 3px solid aqua;
}

.logo_kep{
    margin-bottom: 30px;
}

.fel {
    margin-top: -300px;
    background-color: #fff;
    padding: 10px;
}
.kartya {
    position: relative;
    width: 350px;
    height: 250px;
    overflow: hidden;
    margin: 10px;
    cursor: pointer;
}

.kartya img.kep {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.kartya .leiras {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 15px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s ease;
    overflow-y: auto;
    font-size: 10;
    font-weight: 100;
}
.leiras p{
    font-size: 6px;
}

.kartya:hover .leiras {
    opacity: 1;
}

.gombok button {
    border: none !important;
    padding: 30px 10px 30px;
}

.gombok {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 0;
    padding-right: 30px;
    background-color: #f0f0f0;
    justify-content: center;
    font-size: 20px;
}

.gombok button.active {
    color: pink;
    border: 1px solid #0a58ca;
}