@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

header .sargaSav {
    background-color: #ffed05;
}

main h2{
    color: rgb(49, 195, 243);
}

.main_szoveg{
    margin-top: 40px;
    font-size: 16px;
}

.main_elso_kep{
    max-width: 100%;
    width: 100%;
}





footer{
    padding-top: 30px;
    background-image:url(../images/footer-bg.jpg);
}
footer p{
    color: yellow;
    padding-left: 30px;
}
footer .legalso{
    background-color: #303030;
    padding-top: 5px;
    padding-bottom: 5px;
}
footer a{
    text-decoration: none;
}
footer a, footer .legalso p, footer li{
    color: #ffffff;
}
footer li{
    list-style-type: none;
}
footer img:first-of-type{
    padding-left: 30px;
}
footer .social-icons {
    text-align: right;
    margin-top: 10px;
}
footer .social-icons img {
    width: 24px;
    margin-left: 10px;
}
.main_szoveg_hosszu{
    margin-top: 20px;
    color:#666666;
}

.sargaSav .col-lg-6 {
    padding: 3px;
}

header .nav-item a {
    font-weight: 700;
    color: #fff;
}

header .nav-item a, .logos p {
    text-transform: uppercase;
}

.sargaSav .d-flex {
    justify-content: space-around;
}

header input {
    padding: 0;
    border-radius: 0 !important;
    width: 300px !important;
}

.navBar {
    justify-content: center;
}

.header-bg {
    background-image: url("../images/header-bg.png");
    height: 500px;
}

.nyil {
    justify-content: center;
}

.nyil img {
    width: 50px;
}

.logos {
    height: 50%;
    align-items: center;
}